
@import '../../../style/variables';

.guidence-text {
    color: white;
    background: $gphc-purple;
    padding: 1em;
    margin-left: 0.5em;
    ul {
        list-style-type: circle;
    }
}

mat-radio-group {
    mat-radio-button:first-child {
        margin-bottom: 1em;
    }
}

   
 .edu-qualification-field.mat-select-panel mat-option.mat-option {
        height: unset;
      }
   
.edu-qualification-field .mat-option-text.mat-option-text {
        white-space: normal;
      }
   

.section-spacing {
    background-color:#e9f2ee !important; padding:10px;
} 