# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Angular build artifacts
/dist/
/out-tsc/

# Compiled JavaScript
*.js
*.map

# TypeScript declaration files
*.d.ts

# Dependency directory
/lib/

# IDE / Editor directories and files
/.idea/
/.vscode/
/*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Angular CLI configuration
.angular/

# Angular specific files (optional, if using)
angular.json

# Environment files (optional, depending on how your app is configured)
*.env
