<ng-template #content>
  <h2 class="spacer">
    Application fee
    <img src="/assets/images/creditcards/poweredByWorldPay.gif" alt="Worldpay Logo" style="float:right"
      title="Payments Powered by WorldPay" /></h2>

  <section *ngIf="worldpayConfig else loading" class="fadein card-selection">
    <h3>Fees to be paid</h3>


    <h4 style="margin-bottom:40px">
      Assessment registration application fee: {{fee | currency: 'GBP': 'symbol' :'.2'}}
    </h4>
    <p style="color:red;"><b>If you want to receive an email confirmation of your payment from Worldpay, you need to click "Edit" in the Contact Details on the next page and enter your email address.</b></p>
    <!--<div class="intro-text" style="margin-bottom:2em;">
      <p>
        Your entry into the registration assessment will be complete only once you have successfully made payment, by
        the advertised deadline. The fee is non-refundable unless you formally withdraw from this sitting.
      </p>
    </div>-->


    <h3>Accepted card types</h3>

    <div class="intro-text" style="margin-bottom:1em;">
      <p>
        We can only accept payments made in pounds sterling (GBP). Payments are processed using worldpay, for more
        information please
        review their
        <a href="https://www.worldpay.com/uk/worldpay-privacy-notice" target="_blank">privacy policy</a>.
      </p>
      <p>
        When you make a card payment, you may be redirected to your card provider’s site to enter another password
        before they authorise
        your payment. You can find out more about 3-D Secure authentication from your card provider.
      </p>
    </div>

    <div class="row">
      <span *ngFor="let card of creditCards" value="{{card.id}}" [aria-label]="card.id" class="padding-20">
        <img src="/assets/images/creditcards/{{card.id}}.gif" alt="{{card.name}} Logo" title="{{card.name}} Logo" />
      </span>
    </div>
  </section>



</ng-template>

<ng-template #loading>
  <div class="step-loading">
    <mat-progress-bar aria-label="loading step"  mode="indeterminate" color="primary"></mat-progress-bar>
  </div>
</ng-template>
