<app-banner [leftColWidth]=9 [info]="true">
    <div class="banner-left">
        <div style="display:flex">
          <div  style="flex-grow:1">
              <h1 class="sm-show">Exceptional circumstances help</h1>
              <p class="intro-text fadein">
                Information on how to use the exceptional circumstances form.
              </p>
          </div>
         
            <div class="button-container">
                <button aria-label="Back" class="btn btn-primary btn-round btn-round-sm" (click)="exit()">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <div class="btn-text">Back</div>
            </div>

        </div>

    </div>
</app-banner>
<div class="content spread no-boxes">
    <section>
        <h2>
            When should I use this form ?
        </h2>
        <p>
             We want to make sure that if you are practising as a pharmacist or pharmacy technician, you are carrying out revalidation
            activity. But we understand that in some circumstances, you may not be practising for at least three months of your registration
            year. Or that you may need extra time to record or submit records of activities from a period of registration. This might
            be because of sick leave, maternity leave, military postings, or breaks from practice, for example.
        </p>
        <p>
         This means that you may not be able to meet to submit some or all of your revalidation records when you renew your registration.
        It’s important that you tell us as soon as you know that you will not be able to do this– you can use this form at any time.
        </p>
        <p>
            Use this form to tell us about exceptional circumstances where: 
        </p>
        <ul style="list-style-type: disc;">
            <li>you have not been (or will not be) practising for more than three months of your registration year and have not been (or
            will not be) able to carry out all the required revalidation activity</li>
            <li>
            you have been practising for at least nine months of the registration year but you may not be able to submit your records
        when you renew your registration
            </li>
            <li>
            Make a request, and provide supporting evidence, to extend your submission deadline, or submit fewer entries.
            </li>
        </ul>

        <p class="important">
            <b>
                 Important:
            </b> If you don’t think you will be able to meet the revalidation requirement even with these changes, please contact
            us.
        </p>
        <p>
             We will use the information you provide to consider your request. We will contact you to let you know if we are satisfied
            with your reasons and the changes you have requested, or if we need to discuss the matter further. If you do not receive
            a response from us within 28 working days of submitting your form, please contact us.
        </p>
        
        
        
        
        <h2>
            What changes can I request?
        </h2>
        
        <h3>
            A submission extension
        </h3>
        <p>
            You may want to request an extension if you have been practising for at least nine months of your registration year, and
            have carried out at least the required number of revalidation activities – but need more time to write up and submit these
            records. If you are practising while the extension is in place, you will still need to carry out and record new revalidation
            activities and submit these by your next renewal due date.
        </p>
        <h3>
         Submitting fewer records
        </h3>
        <p>
             If you have not been, or will not be, working as a pharmacy professional or carrying out revalidation activities for part
            of your registration year (because of a serious illness, or maternity leave, for example), you may want to request that you
            submit fewer revalidation records by your current renewal date. If there are any gaps in your records like this, they should
            not normally be longer than 12 months.
        </p>

        <p class="important">
             Important: If you don’t think you will be able to meet the revalidation requirement even with these changes, please contact
            us. 
        </p>

        <h3>  
             Providing supporting evidence
        </h3>
        <p>
             Please give a brief explanation of the reasons why you are aren’t able to submit all of you records by your renewal due
            date. Make sure you explain how your situation has affected your ability to carry out and record CPD. If you have been or
            are likely to be absent from work, include this too. This will help us understand the reasons for the changes you are requesting.
        </p>
        <p>
             You must provide at least one document as evidence to support your request – we will not consider it without one. The kinds
            of documents you send to us will depend on the reasons for your request. For example, some of the more common reasons for
            requesting changes to the requirements and the kinds of documents that you could use to support these are:
        </p>
        <ul class="bullet-point">
            <li>maternity leave: a copy of your MAT1B form</li>
            <li>sickness leave: a doctor’s note or other medical documents which explain your condition</li>
        </ul>
        <p>
             Please see our <a [routerLink]="'/privacy'">privacy statement</a> for more information on how we handle the personal information you provide to us.
        </p>
    </section>
</div>