<div class="content row no-gutters">
  <div class="col-lg-9 col-md-12 form-column">

    <app-banner [loading]="loading" [error]="loadingError" [application]="true" [progressDark]="true">
      <div class="banner-left">

        <div style="display:flex;align-items:center">
          <h1 style="flex-grow:1">Application for independent prescriber</h1>
          <div class="d-md-none" style="flex-grow:1"></div>

          <app-gphc-icon style="margin-bottom: 20px;" class="d-lg-none" [matMenuTriggerFor]="menu" [static]="true"
            label="Steps" iconType="list"></app-gphc-icon>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <app-form-stepper-menu [summary]="formStepperService.summary$ | async" (navigate)="goToStep($event)">
            </app-form-stepper-menu>
          </mat-menu>
        </div>

        <div class="important" *ngIf="showGuidanceWarning">
          <p>Before you begin your application for independent prescriber,
            read the guidance on providing correctly certified supporting documents <a
              href="https://www.pharmacyregulation.org/privacy-policy" target="_blank">Privacy policy</a></p>
        </div>

        <p *ngIf="loadingError" class="intro-text">
          <i class="fa fa-warning"></i> An error occurred while attempting to load your application
        </p>

      </div>
    </app-banner>

    <div *ngIf="!loading && !!application">

      <ng-container *ngIf="isApplicationOpen else applicationClosed">

        <div *ngIf="ineligible" class="form-control" style="font-size: 1.2em; padding: 40px;line-height: 1.2em">
          <p>This application has been marked as ineligible.</p>
          <div *ngIf="allowResubmit else restart">
            <p>You can either re-submit this application as it is, or re-open this one for editing if you need to make
              changes.</p>
            <button class="btn btn-primary btn-lg" (click)="resubmitApplication()">Re-submit application</button>
            <button class="btn btn-primary btn-lg" (click)="reopenApplication()">Re-open application</button>
          </div>
          <ng-template #restart>
            <p>You can re-open this application if you would like to submit again.</p>
            <button class="btn btn-primary btn-lg" (click)="reopenApplication()">Re-open application</button>
          </ng-template>

        </div>

      <app-independent-prescriber-final-review *ngIf="submitted" [readonly]="true"
        [application]="application">
      </app-independent-prescriber-final-review>

        <app-form-stepper *ngIf="!submitted" [ready]="ready" [stepChange]="stepChange()" (stepChanged)="stepChanged($event)"
          [saving]="saving" [maxStep]="maxStep" [minStep]="minStep">

          <app-qualification-step [application]="application" (isMentorRegistered)="checkIfCounterSignatureHasToBeDisplayed($event)"></app-qualification-step>

          <app-counter-signature-step [application]="application" *ngIf="displayCounterSignaturePage"></app-counter-signature-step>

          <app-edi-step [application]="application"></app-edi-step>

          <app-declarations-step [application]="application"></app-declarations-step>

          <app-payment-step-old *ngIf="!useNewPaymentFlow" [application]="application"></app-payment-step-old>
          <app-payment-step *ngIf="useNewPaymentFlow" [application]="application"  (savingDetails)="savingDetails($event)"></app-payment-step>

        </app-form-stepper>

      </ng-container>


    </div>

  </div>

  <div class="col-lg-3 d-none d-lg-block" *ngIf="isApplicationOpen">

    <div class="toolbar">

      <button *ngIf="!layout.state.fullscreen" (click)="layout.setFullscreen(true)" aria-label="Maximise"
        class="btn btn-back">
        <i class="fa fa-window-maximize"></i>
        <span>Maximise</span>
      </button>
      <button *ngIf="layout.state.fullscreen" (click)="layout.setFullscreen(false)" aria-label="Maximise"
        class="btn btn-back">
        <i class="fa fa-window-restore"></i>
        <span>Restore</span>
      </button>

    </div>

    <div *ngIf="application" class="menu">
      <app-form-stepper-menu [summary]="formStepperService.summary$ | async" (navigate)="goToStep($event)">
      </app-form-stepper-menu>
    </div>
  </div>

</div>

<ng-template #applicationClosed>

  <div class="col-sm-6 text-center">
    <app-form-section class="fadein">
      <span class="section-header">Independent Prescriber Application</span>
      <span class="section-body">
        <div class="text-center">
          <i class="fa fa-clock-o status-icon notdue " aria-hidden="true" style="font-size: 9em"></i>
          <div class="btn-text">
            <p style="font-size: 1.5em;">
              {{ applicationClosedMessage }}
            </p>
          </div>
        </div>


      </span>
    </app-form-section>
  </div>

</ng-template>