<ng-template #content>
  <div class="header">
    <h2>
      <div>
        Application to sit the registration assessment
      </div>
     <!-- <app-gphc-icon [tooltip]="tooltip" [iconType]="'info'" (click)="showDetailsHelp = !showDetailsHelp"
        [static]="true"></app-gphc-icon>-->
    </h2>
  </div>
  <!--<app-collapsible [trigger]="showDetailsHelp" class="help-block">
    <div class="help-text">
      <p>
        The information about your training shown here is taken from your
        pre-registration application form and any approved changes to your
        training. Please confirm if these details are correct so that we can
        verify that you meet the criteria to be registered.
      </p>
    </div>
  </app-collapsible>-->

  <section>
    <h3>Registration assessment eligibility</h3>
    <div class="readonly">
      <p>
        In order to apply to sit the upcoming registration assessment you need
        to submit this application, pay the application fee by the advertised
        deadline and confirm that you have read and understood the
        registration assessment regulations.
      </p>
    </div>
  </section>
  <section>
    <h3>Fee payment</h3>
    <div class="readonly">
      <p>

        The payment that you make will only be applicable for the upcoming
        registration assessment. If you withdraw from the registration
        assessment you will receive a refund in due course. In order to sit a
        subsequent registration assessment you will need to apply again once
        the application has been made available and pay the required fee.

      </p>
    </div>
  </section>
  <section>
    <h3>Confirmation of application</h3>
    <div class="readonly">
      <p>
        Once you have paid the application fee you will receive a notification that your registration 
        assessment application is being processed.
      </p>
      <p>
        We will issue a confirmation of your final entry approximately one week 
        after the application deadline. If you do not receive this notification within 10 days of the 
        assessment application deadline, please contact
        regexam@pharmacyregulation.org.
      </p>
    </div>
  </section>

  <section>
    <h3>Contact details</h3>
    <div class="readonly">
      <p>
        Please keep your contact information up to date within myGPhC.
      </p>
      <p>
        Assessment results are issued via myGPhC,you should ensure you have agreed to receive GPhC emails to get a notification when your results are released.         
      </p>
      <p>
        You can do this in the ‘Accounts' section of myGPhC in the communications preferences section.
      </p>
    </div>
  </section>

</ng-template>
