<ng-template #content>
  <div class="header">
    <h2>
      <div>Countersigning your application</div>
      <app-gphc-icon [iconType]="'info'" (click)="showHelp = !showHelp" [static]='true' class="headingIcon">
      </app-gphc-icon>
    </h2>
  </div>

  <div class="row spacing mb-4">
    <div class="col-md-12">
      <app-collapsible [trigger]="showHelp" class="help-block">
        <div class="help-text">
          <p>
            Your application must be reviewed and countersigned by a registered pharmacist or pharmacy technician, who
            is
            currently registered, to help to verify you meet the criteria to be registered as a pharmacy technician.
          </p>
          <p>
            The countersigning pharmacist or pharmacy technician must confirm that they have read your application,
            and seen your uploaded supporting documents.
          </p>
          <p>
            Based on this information, they must confirm that they have no issues to raise with us, in relation to the
            standards for pharmacy professionals, about your actions, professional performance or health, which would
            stop
            you being registered as a pharmacy technician.
          </p>
          <p>
            The pharmacist or pharmacy technician you nominate will receive a notification when your application has
            been sent to them for sign off.
          </p>
          <p>
            You will receive a notification once your selected pharmacist or pharmacy technician has either
            countersigned or refused to countersign your application.
          </p>
          <p>
            Once we receive your fee, and your supporting documents in the post, we will start to process your
            application
          </p>
        </div>
      </app-collapsible>
    </div>
  </div>

  <section class="countersigning">

    <app-collapsible [trigger]="showCountersigningResult">
      <div class="countersign-status results form-control">
        <i class="fa fa-warning warningIcon"  style="color:white; display: block !important;"></i>
        <label *ngIf="lastResult !== undefined">Your selected countersigner has not signed your application. Please
          discuss your application with them and either send the application to them again to be countersigned or assign
          your application to an alternative countersigner.</label>
      </div>
      <div class="form-group" style="margin-bottom: 40px" *ngIf="lastResult?.feedback">
        <label>Your countersigning pharmacist/pharmacy technician provided the following feedback on your
          application:</label>
        <div class="form-control readonly">
          {{ lastResult?.feedback }}
        </div>
      </div>
    </app-collapsible>

    <app-collapsible [trigger]="selectedPharmacist === undefined">

      <h3>Select a pharmacist or pharmacy technician for countersigning</h3>

      <div class="important">
        <p>
          Your application must be reviewed and countersigned by a registered pharmacist/pharmacy technician,
          preferably your pre-registration tutor,
          to help to verify you meet the criteria to be registered as a pharmacy technician.
        </p>
        <p>
          The countersigning pharmacist/pharmacy technician will receive your <b>full application</b> as shown on the
          review
          screen. It will not include any equality information you have provided.
        </p>

      </div>

      <form *ngIf="!countersigned && !awaitingCountersigning">
        <div class="form-group" style="padding-top: 15px">
          <p style="font-weight: bold;">Please search for a pharmacist/pharmacy technician to countersign your
            application using the search box below.</p>
          <label for="searchBy" style="margin-right: 15px">Search by</label>
          <mat-radio-group name="searchBy" id="searchBy" (ngModelChange)="setFocus($event)"
            [(ngModel)]="searchParams.searchBy">
            <mat-radio-button [value]="RegisterSearchBy.Number" name="number" type="radio">Registration number
            </mat-radio-button>
            <mat-radio-button [value]="RegisterSearchBy.Name" name="name" type="radio">Name</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row">
          <div class="col-md-8" *ngIf="searchByNumber">
            <div class="form-group">
              <label for="regNumber">Registration number</label>
              <input type="search" #focus class="form-control" placeholder="Enter a registration number"
                name="regNumber" id="regNumber" (ngModelChange)="clearNoResults()" #regNumber="ngModel"
                [(ngModel)]="searchParams.regNumber">

              <app-collapsible [trigger]="(touched || regNumber.touched ) && regNumber.errors?.required">
                <p class="form-error">
                  Please enter a registration number
                </p>
              </app-collapsible>
            </div>

          </div>

          <div class="col-md-4" *ngIf="searchByName">
            <div class="form-group">
              <label for="lastName">Last name</label>
              <input type="text" #focus class="form-control" placeholder="Enter last name" id="lastName"
                [(ngModel)]="searchParams.lastName" (ngModelChange)="clearNoResults()" #lastName="ngModel"
                name="lastName">
              <app-collapsible [trigger]="(touched || lastName.touched )&& lastName.errors?.required">
                <p class="form-error">
                  You must provide a last name
                </p>
              </app-collapsible>
            </div>
          </div>

          <div class="col-md-4" *ngIf="searchByName">
            <div class="form-group">
              <label for="firstName">First name / initial</label>
              <input type="text" class="form-control" (ngModelChange)="clearNoResults()" placeholder="Enter first name"
                id="firstName" name="firstName" [(ngModel)]="searchParams.firstName">
            </div>
          </div>

          <div class="col-md-4 btn-col">
            <button class="btn btn-primary btn-block btn-lg" type="submit" (click)="search()">Search</button>
          </div>
        </div>

      </form>

      <app-collapsible [trigger]="searching">
        <div style="display:flex;align-items:center;padding-bottom:10px;">
          <app-spinner [tiny]="true"></app-spinner>
          <div style="padding-left:10px">Searching for pharmacist/pharmacy technicians...</div>
        </div>
      </app-collapsible>
      <app-collapsible [trigger]="!searching && pharmacists !== undefined && pharmacists.length > 0">
        <div style="margin-top: 20px">
          <label id="resultsLabel">Select a pharmacist/pharmacy technician</label>
          <ul aria-labelledby="resultsLabel" class="form-control" #resultsList>
            <li *ngFor="let pharmacist of pharmacists">
              <button style="text-align:left;width: 100%;padding:5px;" (click)="setSelectedPharmacist(pharmacist)">
                {{ pharmacist.registrationNumber}} {{ pharmacist.forenames + ' ' + pharmacist.surname }}
                {{ pharmacist.town }}
              </button>
            </li>
            <li class="text-center load-more" *ngIf="showLoadMore">
              <button class="btn btn-default btn-lg btn-block " (click)="loadMore()" [disabled]="loadingMore">
                <span *ngIf="!loadingMore">More results...</span>
                <span *ngIf="loadingMore">Loading....</span>
              </button>
              <div *ngIf="loadingMore">
                <mat-progress-bar aria-label="loading"  mode="indeterminate" color="primary"></mat-progress-bar>
              </div>
            </li>
          </ul>
        </div>
      </app-collapsible>

      <div *ngIf="noResultsVisible">

        <p class="intro-text" *ngIf="searchParams.searchBy === RegisterSearchBy.Number">
          Couldn't find any pharmacist/pharmacy technicians with registration number '{{searchParams.regNumber}}'.
        </p>
        <p class="intro-text" *ngIf="searchParams.searchBy === RegisterSearchBy.Name">
          Couldn't find any pharmacist/pharmacy technicians called '{{ (searchParams.firstName ? searchParams.firstName + ' ' : '') + searchParams.lastName
          }}'.
        </p>
      </div>

    </app-collapsible>

    <app-collapsible [trigger]="selectedPharmacist !== undefined">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Selected countersigning pharmacist/pharmacy technician</label>
            <div class="form-control" readonly>
              {{ selectedPharmacist?.registrationNumber}} -
              {{ selectedPharmacist?.forenames + ' ' + selectedPharmacist?.surname }} - {{
              selectedPharmacist?.town }}
            </div>
          </div>

        </div>
        <div class="col-md-4 btn-col" *ngIf="!awaitingCountersigning && !countersigned && !sending">
          <button type="button" (click)="cancelSelection()" class="btn btn-primary btn-block btn-lg">Change</button>
        </div>
      </div>

      <div style="padding: 20px" *ngIf="!awaitingCountersigning && !countersigned && !sending">
        <button class="btn-lg btn-block btn-primary" (click)="sendForCountersigning()">Send your application for
          countersigning</button>
      </div>
      <app-collapsible [trigger]="serverErrors && !!serverErrors.length">
        <p class="form-error-block" *ngFor="let error of serverErrors">
          {{ 'Server validation error: ' + error.errors.join(',') }}
        </p>
      </app-collapsible>

      <div class="important">
        <p>Once your application has been countersigned, you will no longer be able to change it.
        </p>
        <p>If you change your mind you can recall your application from the countersigning pharmacist/pharmacist
          technician, as long as it hasn't
          been countersigned yet.
        </p>
      </div>


    </app-collapsible>


    <app-collapsible [trigger]="countersigned || awaitingCountersigning || sending">
      <div class="countersign-status form-control">

        <ng-container *ngIf="(sending || recalling) else countersignTemplate">
          <i class="fa fa-circle-o-notch fa-spin fa-fw loading" style="font-size:4em"></i>
          <div class="message">
            <span *ngIf="recalling">Recalling application...</span>
            <span *ngIf="sending"> Sending to countersigning pharmacist...</span>
          </div>
        </ng-container>

        <ng-template #countersignTemplate>
          <ng-container *ngIf="countersigned else awaitingTemplate">
            <i class="fa fa-check-circle success"></i>
            <div class="message">
              Your application has now been countersigned
            </div>
          </ng-container>
        </ng-template>

        <ng-template #awaitingTemplate>
          <div style="display: flex; flex-direction: column; align-items: center;">

            <i class="fa fa-clock-o"></i>
            <div class="message">
              Your application is now waiting to be countersigned
            </div>
            <button (click)="recall()" class="btn btn-lg btn-block btn-primary">
              Recall from countersigning pharmacist or pharmacy technician
            </button>

          </div>

        </ng-template>
        <!---
        <ng-template #errorTemplate>

          <i class="fa fa-warning"></i>
          <div class="message">
            Sorry - something went wrong. 
          </div>
          <div class="message" routerLink="/diagnostics" *ngIf="showDiagnosticsLink">
            <button class="btn btn-primary btn-lg">
              View diagnostics
            </button>
          </div>

        </ng-template>
      -->
      </div>
    </app-collapsible>




  </section>