<!-- To change -->
<app-banner>
  <div class="banner-left">
    <h1>Home</h1>
    <p class="intro-text">
      A summary of the status of your application to register as a pharmacy technician.
    </p>
  </div>
</app-banner>
<div class="content spread registrant-summary">
  <div class="row" *ngIf="twoColumns">
    <div class="col-sm-6 left-col">
      <ng-container [ngTemplateOutlet]="technicianDetailTile"></ng-container>
    </div>
    <div class="col-sm-6 right-col">
      <ng-container [ngTemplateOutlet]="applicationTile"></ng-container>
    </div>
  </div>
  <div class="row" *ngIf="threeColumns">
    <div class="col-sm-4 left-col">
      <ng-container [ngTemplateOutlet]="technicianDetailTile"></ng-container>
    </div>
    <div class="col-sm-4">
      <ng-container [ngTemplateOutlet]="applicationTile"></ng-container>
    </div>
    <div class="col-sm-4 right-col">
      <ng-container *ngIf="showFirstYearPayment" [ngTemplateOutlet]="paymentTile"></ng-container>
      <ng-container *ngIf="showNoticeOfEntry" [ngTemplateOutlet]="noticeOfEntryTile"></ng-container>
    </div>
  </div>
  <div class="row" *ngIf="application?.pastApplications.length">
    <div class="col-sm-6 left-col">
      <ng-container [ngTemplateOutlet]="pastApplicationsTile"></ng-container>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="section-body">
    <div class="text-center">
      <i class="fa fa-warning error status-icon" aria-hidden="true"></i>
      <!-- <div class="intro-text">{{ error.statusText || error.message }}</div>-->
      <div class="intro-text">Error</div>
    </div>
  </div>
</ng-template>

<ng-template #applicationTile>
  <app-form-section class="fadein" [link]="isApplicationOpen ? '/technician/application' : ''"
    [loading]="loadingApplication" [loaderFill]="true">
    <span class="section-header">Application</span>


    <div class="section-body" *ngIf="isApplicationOpen else applicationClosed">
      <div class="text-center">
        <i class="fa fa-id-card-o status-icon " aria-hidden="true"></i>
        <div class="btn-text">
          {{ ApplicationStatus[application?.status] | caseSplit }}
        </div>
      </div>
    </div>

    <ng-template #applicationClosed>
      <div class="text-center">
        <i class="fa fa-clock-o status-icon notdue " aria-hidden="true"></i>
        <div class="btn-text" *ngIf="applicationClosedMessage">
          {{ applicationClosedMessage }}
        </div>
      </div>
    </ng-template>

  </app-form-section>
</ng-template>

<ng-template #technicianDetailTile>
  <app-user-badge link="/technician/technicianDetails" title="Applicant">
    {{ user }}
    <br />
    <div *ngIf="preEntryNumber">{{ preEntryNumber }}</div>
  </app-user-badge>
</ng-template>

<ng-template #noticeOfEntryTile>
  <app-form-section link="/registration/letter/7">
    <span class="section-header">Notice of entry</span>
    <div class="section-body text-center">
      <i class="fa fa-envelope status-icon letter"></i>
      <div class="btn-text">
        View or print
      </div>
    </div>
  </app-form-section>
</ng-template>

<ng-template #paymentTile>
  <app-form-section *ngIf="user.useNewWorldpayFlow" class="fadein" link="/technician/application/first-year-payment" [loading]="loadingApplication"
    [loaderFill]="true">
    <span class="section-header">First year fee</span>

    <div class="section-body" *ngIf="!error else errorTemplate">

      <div class="text-center" *ngIf="application?.isFirstYearPaymentAvailable">
        <i class="fa fa-arrow-circle-right due status-icon success" aria-hidden="true"></i>
        <div class="btn-text">
          Make payment now
        </div>
      </div>
    </div>
  </app-form-section>
  <app-form-section *ngIf="!user.useNewWorldpayFlow" class="fadein" link="/technician/application/first-year-payment2" [loading]="loadingApplication"
    [loaderFill]="true">
    <span class="section-header">First year fee</span>

    <div class="section-body" *ngIf="!error else errorTemplate">

      <div class="text-center" *ngIf="application?.isFirstYearPaymentAvailable">
        <i class="fa fa-arrow-circle-right due status-icon success" aria-hidden="true"></i>
        <div class="btn-text">
          Make payment now
        </div>
      </div>
    </div>
  </app-form-section>
</ng-template>

<!-- <ng-template #pastApplicationsTile>
    <app-form-section class="fadein" [loading]="loadingApplication" [loaderFill]="true">
      <span class="section-header">Past Applications</span>
      <div class="section-body" *ngIf="!error else errorTemplate">
        <ul class="global-list">
          <li *ngFor="let form of regApplication?.pastApplications" [routerLink]="['/prereg/pastApplication', form.id]">
            <h5>
              {{ form.createdAt | date:'dd/MM/yyyy'}}
            </h5>
            <h5>{{ ApplicationStatus[form.formStatus] | caseSplit }}</h5>
          </li>
        </ul>
      </div>
    </app-form-section>
  </ng-template> -->
