<ng-template #content>
  <h2 class="step-header" class="spacer">{{ title }}</h2>

  <div class="row">
    <div class="col-md-12">
      <p>
        Use this application to apply to register as a pharmacist once you have
        completed your foundation training and passed the registration
        assessment.
      </p>
      <p>
        Before continuing any further make sure that you have
        <a href="https://pharmacyregulation.org/pharmacists/registering-pharmacist/uk-qualified-pharmacist-registration" target="_blank"
          >read our full application guidance</a
        >. If you do not follow the full instructions in the guidance your
        registration may be delayed.
      </p>

      <p>
        To apply to register as a pharmacist you must submit this
        online application and post us supporting identity documents. Your
        application is not complete until you have submitted this online
        application and we have received your posted supporting documents.
      </p>

      <p>
        To submit your application you need to pay an application fee. This 
        fee covers the processing of your application and is non-refundable, 
        even if your application is not successful or you fail the registration 
        assessment.
      </p>
    </div>
  </div>
</ng-template>
