@import "../style/variables";
:host {

  h4 {
      font-family: 'Open sans', sans-serif !important;
      border-bottom: 2px solid $gphc-blue;
      padding-bottom: 10px;
      margin-bottom: 5px;
      font-size: 22px;
      line-height: 1.3em;
  }
  .template-container {
    max-width: 700px;
    margin:0 auto; 
    max-height: calc(100vh - #{$navbar-height}px);
  }

  ::ng-deep {
      .annotate {
      
          @media (min-width: 768px) {

              section.annotation {
                background:transparent;
                padding:0;
              }
              .template-container {
                  padding-left: 40px;
                  padding-right: 40px;
              }
          }

          .assessment button.gphc-icon .circle.fa-stack {
           
            margin-top: -5px;
          }
      }

     

      @media(min-width:767px) {
        .annotate-content {
          margin-bottom:30px;
        }
      }

      .align-space{
        padding-left:30px;
      }

      @media only screen and (min-width : 320px) and (max-width : 480px) {
       
        .spread-bottom{
          padding-bottom:82px !important;

        }
        .align-space{
          padding: 0 !important;
        }
        }

        @media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
          .spread-bottom{
            padding-bottom:82px !important;
  
          }
          .align-space{
            padding: 0 !important;
          }
          }

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        
          .spread-bottom{
            padding-bottom:82px !important;
  
          }
          }
  }
}