<div class="help-text">
  <p>As a reviewer please consider whether:</p>
  <ul>
    <li>Records were submitted to the GPhC in the time specified by the registrar.</li>
    <li>Records are legible and have been structured in a format published or approved by the GPhC.</li>
    <li>Records cover the annual registration period, or, if there are gaps in records, an adequate explanation has been provided.
    </li>
    <li>Records are related to activities that have been carried out by the registrant personally.</li>
    <li>The records submitted are relevant to the safe and effective practice of pharmacy within the registrant’s context of
      practice, including any specialisations and the environment in which they practise. Confirm that at least two of the
      four CPD entries submitted for each full year described planned learning activities.</li>
    <li>Records comply with or safeguard patient confidentiality.</li>
    <li>Records adequately reflect any special conditions that have been placed on your practice by the GPhC – for example by
      a fitness to practise committee, or by the registrar if your registration has been restored following removal.
    </li>
    <li>Records only contain true and accurate information.</li>
  </ul>
</div>