@import "../style/variables";

:host {


  .approval-container {
    margin-top: 20px;
    display:flex; 
    flex-direction:row;
    margin-bottom: 20px; 

  }

  mat-dialog-actions {
    display:flex;
    align-items: right;
    div:first-child {
      align-self: flex-start;
    }
    div:last-child {
      align-self: flex-end;
    }
    button i {
      margin-right: 10px;
    }
    button:focus {
      box-shadow: 0 0 0 2px $gphc-accent-yellow !important;
    }
  }

  .gap {
    flex-grow:1;
  }



  ::ng-deep .btn-round.btn-round-md i {
  font-size: 2em !important;
  }



  .approval-reason {
    margin-bottom: 20px;
  }

}