@import "../style/variables";
.header {
  display: flex;
  label {
    flex-grow: 1;
  }
}
.form-group label {
  font-family: 'Open Sans', sans-serif !important;
}

.help-text {
  padding: 20px;
  color: $gphc-aqua; font-weight:bold;
}

/*
label.error, h2.error {
  color: $error;
}*/
