.page {
  min-height: calc(100vh - 266px);
  background: #4fb490;
  padding: 0 40px 0 40px;
  padding-bottom: 100px;
}

section {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
@media(max-width:767px) {
  section {
    max-width:400px;
  }
  h2 {
    margin-top:20px;
    font-size:24px;
  }
}
@media(max-width:530px) {
  h2 {
    font-size:20px;
  }
  
}


button {
  border-radius: 0 !important;
  font-size: 24px;
  width: 100%;
}

@media (max-width:767px) {
  .page {
    min-height: calc(100vh - 238px);
  }
}

@media (min-width: 768px) {
  .page.spread {
    padding-bottom: 20px;
  }
}

@media (max-width:530px) {
  .page {
    min-height: calc(100vh - 183px);
  }
}

.page a, .page a:link, .page a:visited, .page .btn-link, .page .link {
  color: #00759b;
  text-decoration: none;
  border-bottom: 1px solid #00759b;
  cursor: pointer;
}

.page.no-boxes {
  padding-top: 20px;
  background: white;
}