@import '../../../../style/variables';

.qualification-step-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mrgn-btm-15 {
    margin-bottom: 15px;
}
.color-white {
    color:white!important;
}