<section>
    <form>
        <div class="main-content ml-2">
            <p>
                I, {{username}}, and my designated supervisor(s) will act in line with the GPhC’s standards for pharmacy professionals.
                We make the following commitments to each other. We:
            </p>
            <ol type="A">
                <li>
                    will follow the GPhC foundation training scheme requirements, as explained in the GPhC's
                    foundation training manual, and understand the GPhC's expectations of a designated supervisor as explained in their guidance
                </li>
                <li>
                    understand the learning outcomes required by the GPhC to complete foundation training and
                    meet the criteria for registration as a pharmacist.
                    <!--The learning outcomes, set out in section 10 of
                    the
                    education standards, are: skills, attitudes and knowledge as defined by 76 performance standards,
                    described in the foundation training manual, the GPhC standards for pharmacy professionals, and the
                    registration assessment framework-->

                </li>
                <li>
                    will carry out GPhC formal progress reviews at weeks 13, 26 and 39, and at the end of training, and
                    submit these to the GPhC when progress is assessed to be unsatisfactory
                </li>
                <li>
                    will carry out regular progress reviews that are conducted in a professional manner, and are open
                    and
                    honest, to provide meaningful feedback to both trainee and designated supervisor. These reviews will be supportive
                    and encourage learning
                </li>
                <li>
                    will discuss and resolve any concerns at an early stage. If we cannot resolve a concern, or if the
                    problem is outside the scope of our learning relationship, we will escalate as appropriate

                </li>
                <li>
                    expect the training to be self-directed, with mutually agreed time dedicated to study and
                    reflection on
                    learning that will be documented in a portfolio for joint review
                </li>
                <li>
                    will ensure that all practice is supervised appropriately, and is respectful of the skills and
                    knowledge of
                    all team members, whose feedback should also be considered
                </li>
                <li>
                    will encourage a proactive approach to seeking answers and solving problems, with clearly defined
                    boundaries related to the stage of learning to make sure patient safety is maintained
                </li>
                <li>
                    understand the designated supervisor suitability policy and be aware that supervising can be revoked if this is not
                    met
                </li>
                <li>
                    will work to a training plan that is provided by the designated supervisor and agreed before training starts
                </li>
            </ol>
           
        </div>
    </form>


</section>