$gphc-blue: #026f92; /*#00759b;*/
$gphc-aqua: #35a079;/*#41a984;/* darken(#58b896,2.5%);*/
$gphc-purple: #553c73;
$gphc-background: #d9e8e1;/* #e5f1eb;*/
$light-grey: #ececec;
$grey: #dedede;
$very-light-grey: #f7f7f7;

$gphc-accent-fushia: #bc1d63;
$gphc-accent-pink: #e94870;
$gphc-accent-orange: #ef7b0f;
$gphc-accent-yellow: #fcc340;

$banner-background: #35a079;

$error: #c52e2e;

$navbar-height: 58;

$legacy-modal-text-color: #000000de;
$legacy-modal-padding: 24px;
$legacy-negative-modal-padding: -$legacy-modal-padding;