<ng-template #content>
  <h2 class="step-header" class="spacer">{{ title }}</h2>

  <div class="row">
    <div class="col-md-12">
      <p>
        Use this application to apply to register as a pharmacy technician after
        you have obtained recognised pharmacy technician qualifications and have
        completed two years work-based experience in the UK, Isle of Man, or
        Channel Islands.
      </p>
      <p>
        Before continuing any further make sure that you have
        <a
          href="https://www.pharmacyregulation.org/pharmacy-technicians/registering-pharmacy-technician/uk-qualified-pharmacy-technician-registration"
          target="_blank"
          >read our full application guidance</a
        >. If you do not follow the full instructions in the guidance your
        registration may be delayed.
      </p>
      <p>
        To apply to register as a pharmacy technician you must submit this
        online application and post us supporting identity documents. Your
        application is not complete until you have submitted this online
        application and we have received your posted supporting documents.
      </p>
      
    </div>
  </div>
</ng-template>
