@import '../style/variables';

section:not(:first-child) h2 {
  border-top: 12px solid $light-grey;
  margin-top: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
  margin-left: -8px;
  padding-left: 20px;
  margin-right: -8px;
  padding-right: 20px;
}

:host-context(.touched) {
  ::ng-deep  .card:not(.valid) {
    border-left-color: $error !important;
  }
}

