<ng-template #content>
    <h2 class="step-header" class="spacer">  {{title}}</h2>

    <div class="row">
        <div class="col-md-12">      
            <p>
                If you are currently, or were previously registered with the GPhC or the former regulator 
                the RPS as a pharmacist or pharmacy technician and you want to practise in another country, 
                or want to register with another regulatory body in the UK, use this form to request that we 
                provide a ‘certificate of current professional status’, sometimes called a ‘letter of good standing’ 
                to the other regulatory body.
            </p>

            <p>
                We will create the certificate of current professional status and fitness to practice history 
                (CCPS) at your request and will send it to the regulatory authority you nominate.
            </p>

            <p>The CCPS will include:</p>

            <ul>
                <li>your full name</li>
                <li>your registered address</li>
                <li>your date of birth</li>
                <li>details of your pharmacy education and training</li>
                <li>your current registration status</li>
                <li>details of any current and past fitness to practise matters</li>
            </ul>

            <p>
                If there is any fitness to practise history on your record, we will send you an extract of the 
                information that will be included so that you can confirm it is accurate before we complete the CCPS.
            </p>

            <p>
                We will send the CCPS directly to the regulatory body. We will not provide a copy to you, 
                or any other person or organisation.
            </p>
        </div>
    </div>
</ng-template>