@import "../style/variables";

.branding {
    height: 208px;
    overflow: hidden;
    position: relative;
    background: white;

    .rings {
        position: absolute;
        right: 70px;
        z-index: 0;
        width: 260px;
        -webkit-transform: rotateZ(13deg);
        transform: rotateZ(0deg);
    }

    .mygphc {
        position: absolute;
        right: 20px;
        top: 30px;

        .mygphc-logo {
            color: $gphc-blue;
            font-family: 'Bitter';
            font-weight: bold;
            font-size: 40px;
        }

        .version {
            top: 45px;
            right: 0;
            position: absolute;
            z-index: 99;
            opacity: 0.9;

        }
    }
}

.logo {
    img {
        width: 254px;

        /* height: 94px;*/
    }

    display: block;
    border: none;
    text-decoration: none !important;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .branding {
        height: 180px;
    }

    .rings {
        width: 210px !important;
        right: 80px !important;
    }

    .mygphc {
        .mygphc-logo {
            font-size: 35px !important;
        }

        .version {
            top: 38px !important;
        }
    }

    .logo {
        padding-top: 40px !important;
        padding-left: 30px;

        img {
            width: 214px !important;
            height: 98px !important;
        }
    }
}

@media (max-width: 530px) {
    .mygphc {
        position: absolute;
        right: 20px;
        top: 23px !important;

        .mygphc-logo {
            font-size: 25px !important;
        }

        .version {
            top: 23px !important;
            font-size: 14px !important;
        }
    }

    .branding {
        height: 125px;
    }

    .logo {
        margin-left: 5px;
        padding-left: 20px;
        padding-top: 30px !important;

        img {
            width: 150px !important;
            height: 69px !important;
        }
    }

    .rings {
        display: none;
    }
}

@media (max-height: 530px) {
    .branding {
        height: 125px;
    }

    .logo {
        padding-top: 30px !important;

        img {
            width: 150px !important;
            height: 69px !important;
        }
    }
}

@media (max-width: 375px) {
    .mygphc {
        top: 23px !important;

        .mygphc-logo {
            font-size: 23px !important;
        }

        .version {
            top: 25px !important;
            font-size: 12px !important;
        }
    }
}
