<app-banner [info]="true">
  <div class="banner-left ">
    <h1 class="sm-show" id="top">Privacy policy</h1>
    <p class="intro-text" style="max-width: 800px;">
      This policy explains how we will use information that you give us about yourself through <span
        class="italic">myGPhC</span>. You can see our full
      <a target="gphc_main_site" href="https://www.pharmacyregulation.org/privacy-policy" class="intro">privacy
        policy</a> on our website.
    </p>
  </div>
</app-banner>

<div class="content spread no-boxes">


  <section>

    <p class="intro-text">We use and publish personal information to support our work as the regulatory body for
      pharmacists, pharmacy technicians
      and registered pharmacies in Great Britain. Our statutory aims, objectives, powers and responsibilities are set
      out in
      the <a target="gphc_main_site" href="https://www.pharmacyregulation.org/about-us/what-we-do/legislation"
        target="_blank">Pharmacy Order 2010, the rules made under the Order, and in other legislation.</a>
    </p>


    <p>
      We are registered with the Information Commissioner’s Office (ICO) as a data controller, number <span
        class="italic bold-underline">Z236733X</span>. When you give
      us your personal information through <span class="italic">myGPhC</span>, or you contact us by other means, the
      GPhC is the data controller for information
      you share with us.
    </p>

    <p>
      We review and update this policy from time to time to reflect changes to our processes.
    </p>

    <p>
      We hope the sections below will answer any questions you have, but if not, please get in touch with us. Use the
      links below
      to navigate to the different sections within this policy.
    </p>

    <ul class="nav">
      <li><a pageScroll href="#1">When you apply to be registered</a></li>
      <li><a pageScroll href="#2">When you revalidate</a></li>
      <li><a pageScroll href="#3">When you renew</a></li>
      <li><a pageScroll href="#4">Payment information</a></li>
      <li><a pageScroll href="#5">Sharing personal information</a></li>
      <li><a pageScroll href="#6">Statistics and research</a></li>
      <li><a pageScroll href="#7">Equality and diversity information</a></li>
      <li><a pageScroll href="#8">Your rights</a></li>
      <li><a pageScroll href="#9">Who to contact and more information</a></li>
    </ul>


    <h2 id="1">
      When you apply to be registered
    </h2>

    <h3>
      Information we collect
    </h3>

    <p>
      We are required by the Pharmacy Order 2010 to make sure that applicants are suitably qualified and fit to practise
      before
      they join our registers. We use the information you give us when you apply to process and assess your application
      and this
      will include:
    </p>

    <ul class="regular">
      <li>contact details</li>
      <li>details of your qualifications, training and experience</li>
      <li>tutor information</li>
      <li>employer information</li>
      <li>counter-signatory information</li>
      <li>copies of documents to prove your identity</li>
      <li>payment information <a href="#4" pageScroll>(see payment section)</a></li>
      <li>evidence of English language skills</li>
      <li>information about issues that may affect your fitness to practise. This may include information about your
        health or criminal
        convictions. If you make a fitness to practise declaration, we will ask relevant other people or organisations
        for information
        to help us assess your application.</li>
    </ul>

    <p>
      We also ask for <a href="#7" pageScroll>equality and diversity information</a>, which we use to meet our duties
      under the Equality Act 2010, but you
      do not have to fill this in.
    </p>

    <h3>
      How we will use your application information
    </h3>

    <p>
      We are required by the Pharmacy Order 2010 to make sure that applicants are suitably qualified and fit to practise
      before
      they join our registers. We use the information you give us when you apply to process and assess your application.
      This will
      include:
    </p>

    <ul class="regular">
      <li>checking your identity, assessing your qualifications, experience and fitness to practise</li>
      <li>updating the registers</li>
      <li>administering your registration, including taking payments</li>
      <li>sending you communications about your registration and fitness to practise matters, as necessary to support
        our statutory
        objectives and when required by law</li>
      <li>compiling statistics and research</li>
      <li>dealing with questions, concerns or complaints</li>
    </ul>

    <h3>
      How we will share your application information
    </h3>

    <p>
      Pharmacist applicants – you will be asked in your application to nominate a pharmacist to certify your
      application. We will
      give access to your application to your nominee for this purpose. They will not be able to view it after they have
      responded.
      They will not have access to any equality and diversity information you give.
    </p>

    <p>
      We are required by law to publish registers of <a href="https://www.pharmacyregulation.org/registers"
        target="_blank">pharmacists and pharmacy technicians</a>. When you join the register, your name
      will be added to the published register. We give more details on the register and other information we publish on
      registered
      pharmacy professionals in the <a pageScroll href="#3">renewal section below</a> .
    </p>

    <p>
      We may share information you give us with third parties to meet our statutory objectives
      <a href="https://www.pharmacyregulation.org/about-us/what-we-do/legislation" target="_blank">under the Pharmacy
        Order 2010, the Rules made under the order and other legislation</a> or where required by law. These third
      parties may include other regulatory
      and enforcement authorities, NHS trusts, employers and the Department of Health. You will find more information on
      our website
      about <a href="https://www.pharmacyregulation.org/about-us/who-we-work" target="_blank">organisations we work
        with</a>.
      We say more about when we will share information in our
      <a href="https://www.pharmacyregulation.org/sites/default/files/gp201474_publication_and_disclosure_policy.pdf"
        target="_blank">publication and disclosure policy</a>
      and in the section below on <a pageScroll href="#5">sharing personal information</a>.
    </p>

    <p>
      We may also share information with universities or other third parties when we carry out research into specific
      areas to
      develop our work. See the section on <a pageScroll href="#6">statistics and research</a> below.</p>

    <h3>
      How long we will keep your application information
    </h3>

    <p>
      We keep your application and registration records while you are registered and for at least 10 years after you
      leave the
      register, depending on the reason you leave the register. If your application to join the register is
      unsuccessful, we will
      keep your information for up to 2 years after the period during which you are eligible to apply. If your
      application is refused
      for fitness to practise reasons, we will keep it while it is necessary for regulatory purposes.
    </p>

    <h4>
      Pre-registration training tutors
    </h4>
    <p>
      We hold your contact details for the purpose of administering the pre-registration training scheme. We also keep
      records when you sign off the competence of individual pre-registration trainees.
      These are held as part of the trainee’s records and used in assessing their application to register.
    </p>

    <h2 id="2">
      When you revalidate
    </h2>

    <h3>
      Information we collect
    </h3>

    <p>
      You must submit records to show how you have carried out and recorded revalidation activities, as required by the
      <a href="https://www.pharmacyregulation.org/pharmacists/revalidation-renewal/renew-your-registration" target="_blank">revalidation framework</a>. For the peer
      discussion element, we ask you to give us the name and contact details of the person you had the
      discussion with. Please make sure they agree that you may use their details and are aware that we may contact them
      about
      your discussion.
    </p>

    <h3>
      How we will use your revalidation information
    </h3>

    <p>
      We have a statutory duty to make sure pharmacy professionals practise safely and effectively. Our revalidation
      requirements
      allow pharmacists and pharmacy technicians to show that they keep their knowledge and skills up to date in order
      to maintain
      and improve their practice.
    </p>

    <p>
      For registrations expiring on and after 31 December 2018, revalidation is required as part of registration
      renewal. So,
      if you do not give us the revalidation information we need without a good reason, we will take action which can
      include removing
      you from the register.
    </p>

    <p>
      We will use the information you give us in your revalidation records to make sure you have carried out appropriate
      activities
      to meet the requirements of the <a href="https://www.pharmacyregulation.org/pharmacists/revalidation-renewal/renew-your-registration"
        target="_blank">revalidation framework</a>. (These are explained in the ‘The process explained: review and
      feedback’
      section of the framework.)
    </p>

    <p>
      Sometimes we may need to use your revalidation information when we deal with concerns about your fitness to
      practise. We
      may do this if it is relevant to a concern is raised with us by another person, or if something in the information
      you give
      us causes a concern about your practice.
    </p>

    <p>
      We will also use data from revalidation records to quality assure our processes, evaluate them and to help us
      improve them.
      This may include compiling statistics and keeping stakeholders up to date with information about revalidation.
      This information
      is made anonymous.
    </p>

    <h3>
      How we will share your revalidation information
    </h3>

    <p>
      We use outside reviewers to assess revalidation records you submit. The reviewers provide this service under
      contract to
      the GPhC. Reviewers access records using a secure online portal. They only see records they have been allocated to
      review
      and do not see the identity of the registrant who has submitted the record. The reviewers create feedback reports,
      which
      are quality assured by another reviewer and relevant GPhC employees.
    </p>

    <p>
      We share revalidation information with third parties to keep stakeholders up to date with our work. This
      information is
      made anonymous.
    </p>

    <p>
      Occasionally we may need to share revalidation information on individual pharmacy professionals to meet our
      statutory objectives
      or when required by law. These third parties may include other regulatory authorities or the NHS. See the section
      on
      <a pageScroll href="#5">sharing personal information</a> below.
    </p>

    <p>
      We may also share information with universities or other third parties when we carry out research into specific
      areas to
      develop our work. See the section on <a pageScroll href="#6">statistics and research below</a>.
    </p>

    <h3>
      How long we will keep your revalidation information
    </h3>

    <p>
      We will keep your revalidation records and feedback reports in myGPhC as follows:
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>Type of record</th>
          <th>Will be kept for:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Revalidation records that you have not submitted</td>
          <td>2 years from the date you last edit the record</td>
        </tr>
        <tr>
          <td>Submitted revalidation records</td>
          <td>2 years from the date you submitted the record</td>
        </tr>
        <tr>
          <td>Feedback reports</td>
          <td>2 years from the date of issue</td>
        </tr>
        <tr>
          <td>Submitted revalidation records that did not meet the core criteria, and related feedback reports</td>
          <td>
            Until the review process is successfully completed and then 2 years from that date</td>
        </tr>
        <tr>
          <td>Exceptional circumstances forms and evidence</td>
          <td>2 years from the date you submit the form unless a concern is raised</td>
        </tr>
      </tbody>
    </table>

    <p>
      You will continue to have access to your revalidation information if you are suspended from the register or
      excluded from
      practice. If you are removed from the register you will be able to download your information for 28 days, then
      your access
      will be revoked. You can ask us for more time if you need it.
    </p>

    <p>
      We will also keep an audit history of the dates of your submissions and the outcome of reviews and any remediation
      actions.
    </p>

    <h2 id="3" class="flexible">
      <div>
        When you renew
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        back to top
      </a>
    </h2>

    <p>
      If you are a pharmacist or pharmacy technician, you must be registered with the GPhC to be able to practise in
      Great Britain.
      You must renew your registration every year and complete a declaration to confirm that you meet all our
      professional, fitness
      to practise and ethical standards.
    </p>

    <h3>
      How we will use your renewal information
    </h3>

    <p>
      When you apply to renew your registration through myGPhC, we will use the information you give us to confirm
      whether your
      registration may continue and to update the <a href="https://www.pharmacyregulation.org/registers"
        target="_blank">register</a>.
    </p>

    <p>
      As part of your renewal, you must complete a declaration of fitness to practise. If you tick ‘yes’ to any of the
      questions,
      you will be asked to give more information in another declaration form. We will use information you give us in
      these forms
      to assess your renewal application.
    </p>

    <p>
      If you do not complete the declaration or make a declaration that raises a question about your fitness to
      practise, we will
      not be able to process your renewal but we will guide you on what to do next. In some cases we will need to look
      further
      into matters you raise in your declarations to make sure that you are fit to practise.
    </p>

    <h3>
      How we will share your renewal information
    </h3>

    <p>
      We are required by law to publish registers of <a href="https://www.pharmacyregulation.org/registers"
        target="_blank">pharmacists and pharmacy technicians</a>. The registers contain your name, registration
      number, registration status, date of renewal and the town of your address. If you have received a fitness to
      practise sanction,
      your register entry will contain a link to relevant documents, in line with our <a
        href="https://www.pharmacyregulation.org/sites/default/files/gphc_publication_and_disclosure_policy_vseptember_2014.pdf"
        target="_blank">publication and disclosure policy</a>.
    </p>

    <p>
      For pharmacists, the register also says if you are an independent or supplementary prescriber and if you are a
      superintendent
      pharmacist, the name of the relevant pharmacy.
    </p>

    <p>
      We make data from the public registers available via a licensed
      <a href="https://www.pharmacyregulation.org/registers/data-subscription-service" target="_blank">subscription
        service</a>. This does not include a live link
      to fitness to practise documents. More details about the service and a copy of the licence are on
      <a href="https://www.pharmacyregulation.org/registers/data-subscription-service" target="_blank">our website</a>.
    </p>

    <p>
      We may also share information with universities or other third parties when we carry out research into specific
      areas to
      develop our work. See the section on <a pageScroll href="#6">statistics and research below</a>.
    </p>

    <p>
      We may share information you give us with third parties to help us meet our statutory aims, objectives and
      responsibilities,
      and in using our powers under the Pharmacy Order 2010, the Rules made under the order and other legislation. These
      third
      parties may include other regulatory and enforcement authorities, NHS trusts, employers and the Department of
      Health. You
      will find more information on our website about <a href="https://www.pharmacyregulation.org/about-us/who-we-work"
        target="_blank">organisations we work with</a>. We say more about when we will share information
      in our <a
        href="https://www.pharmacyregulation.org/sites/default/files/gp201474_publication_and_disclosure_policy.pdf"
        target="_blank">publication and disclosure policy</a> and in the section below on <a href="#5">sharing personal
        information</a>.
    </p>

    <p>
      If you wish to apply for registration to practise in another country, you may need to ask us for a certificate of
      current
      professional status and fitness to practise history to be sent to the relevant regulator. More information about
      this is
      <a href="https://www.pharmacyregulation.org/registration/working-abroad" target="_blank">on our website.</a>
    </p>

    <h3>
      How long we will keep your renewal information
    </h3>

    <p>
      We keep your registration records while you are registered and for at least 10 years after you leave the register,
      depending
      on the reason you leave the register. If we investigate a concern about your practice, we keep the case file for
      at least
      six years from the date the case is closed or a relevant sanction ends. We keep determinations of any fitness to
      practise
      hearings as part of your registration record.
    </p>

    <h2 id="4" class="flexible">
      <div>
        Payment information
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        back to top
      </a>
    </h2>

    <h3>
      How we will use your payment information
    </h3>

    <p>
      If you pay for your registration or renewal using direct debit, we will use the information you provide on the
      direct debit
      form to set up and take your payment.
    </p>

    <p>
      If you pay by debit or credit card, you will be directed to make the payment through <a
        href="https://www.worldpay.com/uk/privacy-policy">WorldPay</a> and the GPhC will only receive
      a payment notification.
    </p>

    <p>
      If you make a payment by card over the phone, we will take the details we need to process the payment, but they
      will be
      securely destroyed when the process is complete.
    </p>

    <h3>
      How we will share your payment information
    </h3>

    <p>
      We will not normally share payment information, except as necessary to take a payment, but in some cases may share
      information
      with enforcement authorities or banks, for example, if there is a suggestion of fraudulent payments.
    </p>

    <h3>
      How long we will keep your payment information
    </h3>



    <p>
      You can download a copy of your receipts from myGPhC back to 2015. Please contact us if you need earlier receipts.
      We keep
      payment notifications for six years and direct debit mandates for six years from the end of the mandate.
    </p>

    <h2 id="5" class="flexible">
      <div>
        Sharing personal information
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        back to top
      </a>
    </h2>

    <p>
      We share information with other organisations in the public interest when we carry out our tasks under the
      <a href="https://www.pharmacyregulation.org/about-us/what-we-do/legislation" target="_blank">Pharmacy Order 2010
        and other legislation</a>.
      We also disclose information when required by other laws, for example, laws that apply to the
      work of other public authorities.
    </p>

    <p>
      The Pharmacy Order gives us a duty to cooperate, where appropriate and reasonably practical, with other
      organisations, such
      as other regulatory authorities, NHS trusts, employers of pharmacy professionals, the Department of Health and
      organisations
      that run GPhC accredited courses. You can find information about the formal arrangements we have with some of
      these organisations
      on <a href="https://www.pharmacyregulation.org/about-us/who-we-work" target="_blank">our website</a>.
    </p>

    <p>
      We explain more about when we disclose information to other people or organisations in our <a
        href="https://www.pharmacyregulation.org/sites/default/files/gphc_publication_and_disclosure_policy_vseptember_2014.pdf"
        target="_blank">publication and disclosure policy</a>.
      We will not share your personal data for marketing purposes with any third party.
    </p>

    <h3>
      How we consider the public interest
    </h3>

    <p>
      There is a public interest in the GPhC meeting its objectives. These include:
    </p>

    <ul class="regular">
      <li>protecting the health, safety and well-being of the public</li>
      <li>upholding public confidence in the pharmacy professions</li>
      <li>making sure that pharmacy professionals and pharmacies meet our standards</li>
    </ul>

    <p>
      Where we are considering disclosing personal information, we must comply with data protection legislation and
      human rights
      legislation.
    </p>

    <p>
      When we decide whether or not to disclose information, we must first be satisfied that disclosure is lawful and
      meets one
      of the conditions for processing in data protection legislation. This will usually be when it is necessary to
      enable us to
      carry out our statutory and regulatory functions under the Pharmacy Order, Rules and/or other relevant
      legislation. Sometimes
      another condition will apply.
    </p>

    <p>
      We then need to consider whether disclosure is justifiable. Is it in the public interest to disclose compared to
      and balanced
      with the person’s right to privacy? We consider a person’s rights under data protection legislation, human rights
      legislation
      and the common law duty of confidentiality. We review any legal power to make such a disclosure. We also review
      the nature,
      purpose, quality, appropriateness, and necessity for the disclosure. We also consider the impact of disclosure,
      including
      the potential for damage or distress to the person and weigh that alongside the potential harm that may be caused
      if we do
      not disclose information. We must make sure that we comply with the data protection principles, for example, that
      the information
      we disclose is limited to what is necessary to achieve the overriding lawful purpose.
    </p>

    <p>
      We consider the public interest when employers of pharmacy professionals or other agencies involved in
      recruitment, ask
      us for personal information in relation to their employees. We also consider it when other public authorities ask
      us to disclose
      personal information. For example, NHS organisations may ask us for information to establish the professional
      standing of
      a registered pharmacy professional.
    </p>

    <p>
      We do not usually publish or disclose information about investigations currently taking place, unless we consider
      it to
      be in the public interest and proportionate in the circumstances. We want to avoid publishing or disclosing
      information where
      there is a risk that it might prejudice or adversely impact an investigation by the GPhC or another organisation.
    </p>

    <h3>
      Freedom of information
    </h3>

    <p>
      Sometimes the GPhC may need to disclose information under the laws covering access to information (usually the
      Freedom of
      Information Act 2000). We disclose identifiable personal information only where it is lawful, fair and in the
      public interest
      to do so.
    </p>

    
  <section>
    <h2 class="mb-4">Pre-registration trainees</h2>

    <h4>
      Information we collect
    </h4>

    <p>
      We are required by the Pharmacy Order 2010 to make sure that pharmacy professionals have appropriate
      qualifications, training and experience.
      If you apply to join the pharmacist pre-registration training scheme, we collect information including:
    </p>

    <ul class="regular">
      <li>
        your contact details
      </li>
      <li>
        your qualifications and relevant experience
      </li>
      <li>
        evidence of English language skills
      </li>
      <li>
        counter-signatory and reference information
      </li>
      <li>
        copies of documents to prove your identity
      </li>
      <li>
        payment information <a href="https://www.pharmacyregulation.org/privacy-policy#pay">
          (see the payment section)
        </a>
      </li>
      <li>
        details of your tutor, placement and progress in your placement
      </li>
      <li>
        details of fitness to practise issues, which may include information about health or criminal convictions
      </li>
    </ul>

    <p>
      We also ask for equality and diversity information, but you do not have to fill this in. We use this data to meet
      our duties under the Equality Act 2010.
    </p>
    <p>
      When you sit the pre-registration assessment, we receive your answer sheets and marks. You may give information
      about health or other issues if you make a request for a reasonable adjustment.
    </p>

    <h4>
      How we will use your information
    </h4>

    <p>
      We will use your information in line with our statutory objective to make sure that people working and providing
      care in a pharmacy setting,
      and who may go on to become registered pharmacy professionals are properly qualified, trained and fit to practise.
      We will:
    </p>

    <ul class="regular">
      <li>
        assess your eligibility and fitness to join the schemes
      </li>
      <li>
        administer and monitor training placements
      </li>
      <li>
        administer the pre-registration assessment
      </li>
      <li>
        assess applications for reasonable adjustments
      </li>
      <li>mark and quality assure the pre-registration assessment</li>
      <li>process any concerns or fitness to practise issues</li>
      <li>deal with questions or complaints</li>
      <li>assess applications to join the register of pharmacists</li>
      <li>compile statistics and research</li>
    </ul>

    <p>
        If you give us information as part of a request for a reasonable adjustment that we consider likely to affect your fitness to practise, we will hold that information and use it when we assess your application to join the register. 
        his is in line with our objective to protect the public.
    </p>

    <h2>
        How we will share your information
    </h2>
    <p>
        We will ask your pre-registration tutor to share with us records of your progress in your placement. We will also ask them to sign off your training when it is complete.
         If we receive a concern about your fitness to practise, we will share details with your tutor, employer or university (for sandwich course students) where there is a public interest in doing so.
    </p>
    <p>
        When you sit the registration assessment, we share a list of candidates with people involved in administering the assessment at the relevant assessment centre. We use third parties to mark answer sheets and analyse the results to quality assure the assessment. We also use a third party to analyse the assessment results by school of pharmacy, age and ethnicity of candidates. 
        We share this data in pseudonymised form and the identity of candidates is not shared. <a href="https://www.pharmacyregulation.org/news" target="_blank">
          We publish names of trainees who pass the registration assessment on the GPhC website.</a> 
    </p>
    <p>
        If you make a request for a reasonable adjustment, the Adjustments Committee will assess your application. They will only see your request in pseudonymised form.
    </p>
    <p>
        If you give us <a href="https://www.pharmacyregulation.org/privacy-policy#equality" target="_blank">equality and diversity information, we use it to meet our duties under the Equality Act 2010.</a> 
    </p>

    <h2>
        How long we will keep your information
    </h2>

    <p>
        If you go on to join the register, we will keep your training record as part of your registration record.
    </p>
    <p>
        If you make any declarations about your fitness to practise these will be held for two years after you join the register. If you apply for a reasonable adjustment to sit the pre-registration assessment, this information will be held for two years after you join the register. If a concern about your practise is raised, we will keep the information while it is necessary for regulatory purposes.
    </p>
    <p>
        If you do not go on to join the register, we will keep your information for up to two years after the time your eligibility to apply expires. If we refuse your application on fitness to practise grounds, we will keep it while it is necessary for regulatory purposes.
    </p>

  </section>

    <h2 id="6" class="flexible">
      <div>
        Statistics and research
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        back to top
      </a>
    </h2>

    <p>
      We use personal data to analyse and review different aspects of our work as a regulator and in the public
      interest. This
      includes using data we collect about registered pharmacy professionals, pharmacy owners, applications to register,
      pre-registration
      training, education, fitness to practise and revalidation.
      If you give us <a href="#7">equality and diversity information</a>,
      we use that data in research and analysis to support our work to meet our public sector equality duties. We
      publish <a href="https://www.pharmacyregulation.org/resources/research" target="_blank">research on our
        website</a>,
      but do not identify individuals in reports, unless they have given specific consent.
    </p>

    <p>
      From time to time we carry out research projects into specific areas of our work. We sometimes use third parties
      to help
      us with this and we share information with them for analysis where necessary. We anonymise data where it is not
      necessary
      to share identifiable information. We make sure that any such third parties sign an agreement which includes
      confidentiality
      and data protection clauses.
    </p>

    <p>
      Sometimes we carry out surveys or use focus groups to help with our research.
      If you take part in these, we will tell you
      how we plan to use your information. We use SmartSurvey to collect responses to our surveys.
      You can read SmartSurvey’s
      <a href="https://www.smartsurvey.co.uk/privacy-policy" target="_blank">privacy policy</a>
      on their website. We take a copy of all responses to analyse at the GPhC and delete the information held in
      SmartSurvey
      when our work is complete.
    </p>

    <p>
      We do not share contact details of pharmacy professionals with independent researchers or research students.
      See the <a href="https://www.pharmacyregulation.org/sites/default/files/gp2016131_research_policy_for_website.pdf"
        target="_blank">research policy</a> for further information.
    </p>

    <h2 id="7" class="flexible">
      <div>
        Equality and diversity information
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        back to top
      </a>
    </h2>

    <p>
      We are committed to promoting equality, valuing diversity and being inclusive in all our work as a health
      professions regulator
      and as an employer. You do not have to give us equality and diversity information, but if you do, we will use it
      to meet
      our duties under the Equalities Act 2010. More information about how we do this is <a
        href="https://www.pharmacyregulation.org/about-us/who-we-are/organisation/equality-diversity-and-inclusion"
        target="_blank">on our website</a>.
    </p>

    <p>
      We use equality and diversity data in our research and analysis and we publish reports containing summary data to
      support
      our work and where required by law.
    </p>

    <h2 class="flexible" class="flexible">
      <div>
        Information security
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        Back to top
      </a>

    </h2>

    <p>
      Our information technology security uses ISO 27000 standards and we regularly review our security policies and
      processes.
      Data is encrypted and stored in secure environments in the UK and European Economic Area. We regularly update our
      systems
      and install security updates. We have firewalls, anti-virus software and other measures in place to prevent and
      detect intrusion
      and we carry out regular penetration testing of our systems. We have disaster recovery and back up measures in
      place. We
      limit access to personal data to people who need to know because of their role.
    </p>

    <p>
      We use external suppliers to provide IT support and other business services. Where they process personal data for
      us, we
      will have contracts with data protection provisions in place.
    </p>

    <p>
      We use secure email or password protect files to send any sensitive personal information. Where we need to send
      sensitive
      information in letters, we use postal services with a track and trace facility.
    </p>

    <h2 class="flexible">
      <div>
        Privacy and cookies
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        Back to top
      </a>
    </h2>

    <p>
      Where we provide services on the internet, we want them to be useful, reliable and easy to use.
    </p>

    <p>
      When you sign into myGPhC, some of your details are stored by the browser you use to make your experience better,
      and avoid
      repeatedly loading the same information from the server. These details are encrypted to protect your privacy.
    </p>

    <p>
      We may also place small amounts of information on the device you use to access the service, such as your computer
      or mobile
      phone. These include small files known as ‘cookies’. They cannot be used to identify you personally.
    </p>

    <p>
      The cookies are used to improve the services we provide, for example by recording which page you look at and how
      long you
      spend on it. We do this through a service called Google Analytics.
    </p>

    <p>
      You can <a href="https://ico.org.uk/for-the-public/online/cookies/" target="_blank">find out more about cookies
        and how to control them</a> on the Information Commissioner’s Office (ICO) website.
    </p>

    <h2 id="8">
      Your rights
    </h2>

    <p>
      The sections below explain how to ask us about any of your rights under data protection law. You can find out more
      about
      your rights from the <a href="http://www.ico.org.uk/" target="_blank">ICO website</a>.
    </p>

    <h3>
      Asking to see your personal data
    </h3>
    <p>
      You have the right of access to personal information that we hold about you, free of charge in most cases.
      Please <span class="bold-underline">send your request</span> in writing, where possible, describing the
      information you want. We may ask you to supply proof of your identity.
      Under the law we have to respond within one month. We may extend this by two months if your request is complex. We
      will notify
      you if this is the case.
    </p>

    <h3>
      Correcting your personal data
    </h3>

    <p>
      You may update and correct some of your personal data yourself through myGPhC.
      If you want to make other updates or corrections, <a href="https://www.pharmacyregulation.org/about-us/contact-us"
        target="_blank">please contact us</a>. In some circumstances, we may not be able to agree to requests to change
      data. If we do not, we will explain
      why. We will respond within one month.
    </p>

    <h3>
      Rights of erasure and stopping use of data
    </h3>

    <p>
      You have the rights to:
    </p>

    <ul class="regular">
      <li>Object to data processing and ask us to stop using your personal information</li>
      <li>Ask us to erase your personal data</li>
      <li>Ask us to restrict the processing of your personal data</li>
    </ul>

    <p>
      If you want to ask about any of these rights, <a href="https://www.pharmacyregulation.org/about-us/contact-us"
        target="_blank">please contact us</a>. We will respond to requests within one month. We may not
      be able to agree to all requests, but if we do not, we will explain why. For example, we have to use certain types
      of information
      to carry out our functions under <a href="https://www.pharmacyregulation.org/about-us/what-we-do/legislation"
        target="_blank">Pharmacy Order 2010, the rules made under the Order, and under other legislation</a>. We must
      send you some correspondence about your registration by law and you will not be able to unsubscribe.
    </p>

    <h3>
      Data portability
    </h3>

    <p>
      <a href="https://www.pharmacyregulation.org/about-us/contact-us" target="_blank">Please contact us</a>
      if you would like copies of information from myGPhC.
    </p>

    <h3>
      Automated decisions and profiling
    </h3>

    <p>
      We do not use automated decision making in any of our applications, revalidation or renewal processes. You must,
      however,
      submit all the documents we need before we can assess your request. Please read the relevant forms and guidance
      carefully.
    </p>

    <p>
      We sometimes use personal profiles in our research, in particular to help us assess the impact of our work on
      different
      groups of people. We do not use profiling to make decisions about individuals.
    </p>

    <h2 id="9" class="flexible">
      <div>
        Who to contact and more information
      </div>
      <a pageScroll href="#top" class="takeMeToTheTop">
        Back to top
      </a>
    </h2>

    <p>
      For questions about your registration or using myGPhC, please contact our contact centre:
    </p>

    <ul class="no-padding">
      <li><span class="bold-underline">Email: info@pharmacyregulation.org</span></li>
      <li>Phone: 020 3713 8000</li>
    </ul>

    <p>
      If you have any questions or concerns about your data please contact:
    </p>

    <ul class="no-padding">
      <li>Data Protection Officer</li>
      <li>General Pharmaceutical Council</li>
      <li>Level 14</li>
      <li>One Cabot Square</li>
      <li>London</li>
      <li>E14 4QJ</li>
    </ul>

    <ul class="no-padding">
      <li>Email: foi@pharmacyregulation.org</li>
      <li>Phone: 020 3713 8000</li>
    </ul>

    <p>
      If you have joined our mailing list you may unsubscribe using the link in our emails or by contacting
      <a href="mailto:communications@pharmacyregulation.org">communications@pharmacyregulation.org.</a>
      Please note: we must send you some correspondence about your registration by law and you will not be able to
      unsubscribe
      to those messages.
    </p>

    <p>
      You can find out more about <a href="http://www.ico.org.uk/" target="_blank">your rights under data protection
        legislation</a> from the Information Commissioner’s Office. You
      also have the right to <a href="https://ico.org.uk/concerns/" target="_blank">report a concern to the ICO</a> if
      you are unhappy with the way we process your data or deal with your
      requests under data protection legislation.
    </p>


  </section>

</div>